<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bebidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="6">

      <ion-card>
        <ion-card-header>
          <ion-img src="https://aloalobahia.com/images/p/budweiser.jpg"></ion-img>
          <ion-item href="#" class="ion-activated">
            <ion-icon name="cash-outline" slot="end"></ion-icon>
            <label class="Negrito">R$ 5,00</label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          Budweiser, também conhecida popularmente como Bud.
        </ion-card-content>  

        <ion-item class="ion-activated">
          <ion-label class="Negrito">Budweiser</ion-label>
        </ion-item>
      </ion-card>

    </ion-col>


    <ion-col size="6">

      <ion-card>
        <ion-card-header>
          <ion-img src="https://wallpapercave.com/wp/AOSb2Tt.jpg"></ion-img>
          <ion-item href="#" class="ion-activated">
            <ion-icon name="cash-outline" slot="end"></ion-icon>
            <label class="Negrito">R$ 8,00</label>
          </ion-item>
        </ion-card-header>
        
        <ion-card-content>
          Heineken International é uma cervejaria holandesa, fundada em 1863 por Gerard Adriaan Heineken.
        </ion-card-content> 
        <ion-item class="ion-activated">
          <ion-label class="Negrito">Heineken</ion-label>
        </ion-item> 
      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">

      <ion-card>
        <ion-card-header>
          <ion-img src="https://p4.wallpaperbetter.com/wallpaper/407/816/840/absolut-alcohol-vodka-wallpaper-preview.jpg"></ion-img>
          <ion-item href="#" class="ion-activated">
            <ion-icon name="cash-outline" slot="end"></ion-icon>
            <label class="Negrito">R$ 80,00</label>
          </ion-item>
        </ion-card-header>
        
        <ion-card-content>
          É uma vodka sueca feita exclusivamente a partir de ingredientes naturais encontrados exclusivamente em Ähus na Suécia.
        </ion-card-content> 
        
        <ion-item class="ion-activated">
          <ion-label class="Negrito">Vodka</ion-label>
        </ion-item> 
      </ion-card>

    </ion-col>


    <ion-col size="6">

      <ion-card>
        <ion-card-header>
          <ion-img src="https://imageio.forbes.com/specials-images/imageserve/5efc1d8b3855ae0007de0453/0x0.jpg?format=jpg&crop=5000,2812,x0,y15,safe&width=1200"></ion-img>
          <ion-item href="#" class="ion-activated">
            <ion-icon name="cash-outline" slot="end"></ion-icon>
            <label class="Teste Negrito">R$ 500,00</label>
          </ion-item>
        </ion-card-header>
        
        <ion-card-content>
          É um single malt ultra-premium envelhecido.
        </ion-card-content> 
        
        <ion-item class="ion-activated">
          <ion-label class="Negrito">Whisky</ion-label>
        </ion-item> 
      </ion-card>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">

      <ion-card>
        <ion-card-header>
          <ion-img src="https://media.gazetadopovo.com.br/2021/08/31131454/StellaSG2-960x540.jpeg"></ion-img>
          <ion-item href="#" class="ion-activated">
            <ion-icon name="cash-outline" slot="end"></ion-icon>
            <label class="Negrito" >R$ 4,00</label>
          </ion-item>
        </ion-card-header>
        
        <ion-card-content>
          Cristalina, recebeu o nome de Stella, estrela em Latim.
        </ion-card-content>
        
        <ion-item class="ion-activated">
          <ion-label class="Negrito">Stella</ion-label>
        </ion-item> 
      </ion-card>

    </ion-col>


    <ion-col size="6">

      <ion-card>
        <ion-card-header>
          <ion-img src="https://media.istockphoto.com/photos/fresh-summer-caipirinha-cocktail-with-splash-picture-id928262414?k=20&m=928262414&s=170667a&w=0&h=gmIUV_F13x3ZlB2InhsxBcnmTDGH7gQYnZbbKiYUFzE="></ion-img>
          <ion-item href="#" class="ion-activated">
            <ion-icon name="cash-outline" slot="end"></ion-icon>
            <label class="Negrito">R$ 10,00</label>
          </ion-item>
        </ion-card-header>
        
        <ion-card-content>
          Feita dos melhores ingredientes.
        </ion-card-content> 
        
        <ion-item class="ion-activated">
          <ion-label class="Negrito">Caipirinha</ion-label>
        </ion-item> 
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>
